.explore-banner {
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  img {
    object-fit: contain;
    max-width: 100%;
    margin: auto;
  }

  &__detail {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1.25rem;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    .title {
      font-size: 2rem;
      font-weight: bold;
      padding-bottom: 10px;
    }

    button {
      width: fit-content;
    }
  }
}

.design-accordion {
  &__item {
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    gap: 1rem;
    .numbering {
      flex: 0 0 10%;
      max-width: 10%;
      font-size: 2rem;
    }
  }

  &__item-content {
    flex: 1;
    button {
      &:focus {
        box-shadow: none;
      }
    }
  }
  button {
    border: none;
  }
}
