.half-bg-black {
  position: relative;
  &::before {
    width: 100%;
    height: 50%;
    content: "";
    background-color: #3a3541;
    position: absolute;
    z-index: 1;
  }
  .wrapper {
    z-index: 2;
    position: relative;
  }
}

.ask-price {
  display: flex;
  flex-wrap: wrap;
  &__banner,
  &__form {
    padding: 2rem 1.5rem;
    flex: 0 0 50%;
    max-width: 50%;
  }
  &__banner {
    text-align: center;
    position: relative;
   
    &::before {
      width: 100%;
      height: 25%;
      content: "";
      background-color: #ffc550;
      position: absolute;
      z-index: 1;
      bottom: 0;
      left: 0;
    }
    .image-wrapper {
      margin-top: 2rem;
      position: relative;
      z-index: 3;
      img {
        max-width: 100%;
        margin: auto;
      }
    }
  }

  @media (max-width: 767px) {
    &__banner,
    &__form {
      flex: 100%;
      max-width: 100%;
    }
  }
}
