header {
  .logo {
    @media (max-width: 767px) {
      img {
        max-width: 45px;
      }
    }
  }
}

.mainslider {
  .h-\[calc\(100vh-89px\)\] {
    @media (max-width: 767px) {
      height: 230px;

      img {
        object-position: left;
      }
    }
  }
}

.section-title {
  @media (max-width: 767px) {
    font-size: 1.5rem;
  }
}

.grid,
.wrapper {
  &.py-10 {
    @media (max-width: 767px) {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }
}

.search-bar-wrapper {
  @media (max-width: 767px) {
    display: none;
    z-index: 99;
    .flex.justify-between.w-full {
      flex-wrap: wrap;
    }
    .search-item-btn {
      width: 100%;
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
      .icon {
        flex: 0 0 auto;
      }

      .selection-btn {
        flex: 1;
      }
      select {
        width: 100%;
        border: solid 0.5px #a8a8a8;
        border-radius: 7px;
        padding: 5px 10px;
      }
    }
    .h-\[100px\] {
      height: fit-content;
    }
    .rounded-full {
      border-radius: 10px;
      width: 100%;
      z-index: 99;
      position: relative;
      border-radius: 0;
    }

    button {
      width: 100%;
    }
  }
}

.half-bg-black {
  position: relative;
  &::before {
    width: 100%;
    height: 50%;
    content: "";
    background-color: #3a3541;
    position: absolute;
    z-index: 1;
  }
  .wrapper {
    z-index: 2;
    position: relative;
  }
  &.why-us {
    @media (max-width: 767px) {
      &::before {
        background-color: unset;
      }

      .section-title.text-c-white {
        color: #17181a;
      }
    }
  }
}

.ask-price {
  display: flex;
  flex-wrap: wrap;
  &__banner,
  &__form {
    padding: 2rem 1.5rem;
    flex: 0 0 50%;
    max-width: 50%;
  }
  &__banner {
    text-align: center;
    position: relative;

    &::before {
      width: 100%;
      height: 25%;
      content: "";
      background-color: #ffc550;
      position: absolute;
      z-index: 1;
      bottom: 0;
      left: 0;
    }
    .image-wrapper {
      margin-top: 2rem;
      position: relative;
      z-index: 3;
      img {
        max-width: 100%;
        margin: auto;
      }
    }
  }

  @media (max-width: 767px) {
    &__banner,
    &__form {
      flex: 100%;
      max-width: 100%;
    }
  }
}

.tab-wrapper {
  max-width: 100%;
  .icon-menu-list {
    @media (max-width: 767px) {
      overflow-x: scroll;
      li {
        min-width: 120px;
        &.px-5 {
          padding-left: 0.5rem;
          padding-right: 0.5rem;
        }
      }
    }
  }
}
.icon-menu-list {
  margin-top: 1rem;
  li {
    cursor: pointer;
    min-width: 150px;
    &.active,
    &:hover {
      img {
        filter: invert(27%) sepia(39%) saturate(7076%) hue-rotate(347deg)
          brightness(114%) contrast(97%);
      }
      label {
        color: #fb3131;
      }
      &::after {
        content: "";
        min-width: 100%;
        width: fit-content;
        height: 2px;
        background-color: #fb3131;
        display: block;
        margin: 0.5rem auto 0;
      }
    }
  }
}

.hover-image-effect {
  position: relative;
  cursor: pointer;
  &::after {
    background-color: rgba($color: #000000, $alpha: 0.2);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 1;
    content: "";
    display: block;
    transition: all ease-in 0.3s;
  }
  &:hover {
    &::after {
      opacity: 0;
      transition: all ease-out 0.3s;
    }
  }
}

.numbering {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;

  &.big {
    width: 50px;
    height: 50px;
  }
  &.small {
    width: 28px;
    height: 28px;
  }
  &.yellow-opac {
    background-color: #fada2537;
  }
  &.black {
    background-color: #000000;
    color: #fff;
  }
}

.has-divider {
  &::after {
    content: "";
    display: block;
    border-left: solid 0.5px #b9b9b9;
    height: 100%;
    width: 0.5px;
    margin-left: auto;
  }
}

.icon-menu-list {
  position: relative;
  &.col-divider.has-divider {
    &::after {
      position: absolute;
      right: 0;
    }
  }
  @media (max-width: 767px) {
    &.col-divider.has-divider {
      &::after {
        display: none;
      }
    }
  }
}

.filterNavWrapper {
  li {
    list-style: none;
    min-width: 115px;
    min-height: 68px;
    label {
      font-size: 0.75rem;
    }
  }

  .filter-dropdown {
    padding-top: 15px;
  }
}

select {
  &.bordered-select {
    padding: 7px 10px;
    border: solid 0.5px #a8a8a8;
    border-radius: 10px;
    background-color: transparent;
  }
}

.filter-dropdown {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  .filter-dropdown-item {
    &:first-child {
      padding-right: 5px;
    }
    &:last-child {
      padding-left: 5px;
    }
    select {
      width: 100%;
    }
  }
}

.pagination-wrapper {
  ul {
    li {
      padding: 0 5px;
      a {
        width: 30px;
        height: 30px;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        &.active {
          color: #000;
          background: #fad925;
        }
        &.prev-link {
          min-width: 80px;
        }
        &.next-link {
          min-width: 50px;
        }
      }
    }
  }
}

.md-only {
  @media (max-width: 767px) {
    display: none;
  }
}

.xs-only {
  display: none;
  @media (max-width: 767px) {
    display: block;
  }
}

.mobile-nav {
  position: fixed;
  padding: 10px;
  background-color: #fff;
  bottom: 0;
  width: 100%;
  z-index: 999;
  left: 0;
  min-height: 40px;
  height: fit-content;
}

select {
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

footer {
  .footer-column {
    @media (max-width: 767px) {
      &:first-child {
        flex: 0 0 100%;
        max-width: 100%;
      }
      flex: 0 0 50%;
      max-width: 50%;
      margin-left: -15px;
      margin-right: -15px;
    }
  }
}

.button-reset {
  position: absolute;
  right: 0;
  top: 0;
}

.Toastify__toast-body {
  font-size: 0.85rem;
}

.static-page-content {
  ul {
    padding-left: 18px;
    li {
      list-style: disc;
    }
  }
}
