.half-bg-black {
  position: relative;
  &::before {
    width: 100%;
    height: 50%;
    content: "";
    background-color: #3a3541;
    position: absolute;
    z-index: 1;
  }
  .wrapper {
    z-index: 2;
    position: relative;
  }
}

.ask-price {
  display: flex;
  flex-wrap: wrap;
  &__banner,
  &__form {
    padding: 2rem 1.5rem;
    flex: 0 0 50%;
    max-width: 50%;
  }
  &__banner {
    text-align: center;
    position: relative;

    &::before {
      width: 100%;
      height: 25%;
      content: "";
      background-color: #ffc550;
      position: absolute;
      z-index: 1;
      bottom: 0;
      left: 0;
    }
    .image-wrapper {
      margin-top: 2rem;
      position: relative;
      z-index: 3;
      img {
        max-width: 100%;
        margin: auto;
      }
    }
  }

  @media (max-width: 767px) {
    &__banner,
    &__form {
      flex: 100%;
      max-width: 100%;
    }
  }
}

.icon-menu-list {
  margin-top: 1rem;
  li {
    cursor: pointer;
    min-width: 150px;
    &.active,
    &:hover {
      img {
        filter: invert(27%) sepia(39%) saturate(7076%) hue-rotate(347deg)
          brightness(114%) contrast(97%);
      }
      label {
        color: #fb3131;
      }
      &::after {
        content: "";
        min-width: 100px;
        width: fit-content;
        height: 2px;
        background-color: #fb3131;
        display: block;
        margin: 0.5rem auto 0;
      }
    }
  }
}

.hover-image-effect {
  position: relative;
  cursor: pointer;
  &::after {
    background-color: rgba($color: #000000, $alpha: 0.2);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 1;
    content: "";
    display: block;
    transition: all ease-in 0.3s;
  }
  &:hover {
    &::after {
      opacity: 0;
      transition: all ease-out 0.3s;
    }
  }
}
