.detail-images-wrapper {
  &.slider {
    .main-img {
      img {
        width: 50%;
        height: 400px;
        margin: auto;
      }
    }
    .slider-thumbnail {
      display: flex;
      gap: 1rem;
      justify-content: center;
      padding: 1rem 0;
      .img-item {
        cursor: pointer;
        img {
          width: 110px;
          height: 110px;
          border-radius: 13px;
        }
      }
    }
  }
  .img-item {
    overflow: hidden;
    border-radius: 13px;
    cursor: pointer;
    position: relative;
    &::after {
      background-color: rgba($color: #000000, $alpha: 0.2);
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 1;
      content: "";
      display: block;
      transition: all ease-in 0.3s;
    }
    &:hover {
      &::after {
        opacity: 0;
        transition: all ease-out 0.3s;
      }
    }
    img {
      object-fit: cover;
      object-position: center;
    }
    &.main-image {
      max-height: 410px;
      img {
        max-height: 410px;
      }
    }
    &.small-image {
      max-height: 197px;
      img {
        max-height: 197px;
      }
    }
  }
}

.description-detail {
  .thumb-wrapper {
    flex-wrap: wrap;
    .thumb-item {
      width: 178px;
      height: 178px;
      overflow: hidden;
      img {
        width: 178px;
        height: 178px;
        object-fit: cover;
        object-position: center;
      }
    }
  }
}

#modalWrapper {
  .main-image {
    height: 300px;
    width: 100%;
    min-width: 500px;
    overflow: hidden;
    img {
      object-fit: contain;
      object-position: center;
      height: 300px;
      width: 100%;
      background-color: #f7f7f7;
    }
  }
}

.price-items {
  .price-item {
    padding: 2rem 0;
    border-bottom: solid 0.5px #ebebeb;
    &:first-child {
      padding-top: 0;
    }
    &:last-child {
      border: none;
      padding-bottom: 0;
    }
  }
}
