.detail-images-wrapper {
  .img-item {
    overflow: hidden;
    border-radius: 13px;
    cursor: pointer;
    position: relative;
    &::after {
      background-color: rgba($color: #000000, $alpha: 0.2);
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 1;
      content: "";
      display: block;
      transition: all ease-in 0.3s;
    }
    &:hover {
      &::after {
        opacity: 0;
        transition: all ease-out 0.3s;
      }
    }
    img {
      object-fit: cover;
      object-position: center;
    }
    &.main-image {
      max-height: 410px;
      img {
        max-height: 410px;
      }
    }
    &.small-image {
      max-height: 197px;
      img {
        max-height: 197px;
      }
    }
  }
}
